releases:
- name: foo
  chart: oci://localhost:5000/myrepo/raw
  version: 0.1.0
  values:
  - templates:
    - |
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: {{`{{ .Release.Name }}`}}
        namespace: {{`{{ .Release.Namespace }}`}}
      data:
        foo: FOO