releases:
- name: foo
  chart: ../../charts/raw-0.1.0
  values:
  - templates:
    - |
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: {{`{{ .Release.Name }}`}}-1
        namespace: {{`{{ .Release.Namespace }}`}}
      data:
        foo: FOO
    dep:
      templates:
      - |
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: {{`{{ .Release.Name }}`}}-2
          namespace: {{`{{ .Release.Namespace }}`}}
        data:
          bar: BAR
  dependencies:
  - alias: dep
    chart: oci://localhost:5002/myrepo/raw
    version: 0.1.0
