repositories:
- name: prometheus-community
  url: https://prometheus-community.github.io/helm-charts

releases:
  - name: test2
    chart: ../../../../charts/raw
    values:
      - templates:
          - |
            apiVersion: v1
            kind: ConfigMap
            metadata:
              name: {{`{{ .Release.Name }}`}}
            data:
              foo: {{`{{ (first (lookup "v1" "Namespace" "" "").items).metadata.name }}`}}
