environments:
  prod:
    values:
    - foo: prod

---

releases:
- name: prod
  chart: ../../../charts/raw-0.0.1
  values:
  - templates:
    - |
      subhelmfile: {{ .Values.foo }}
      envName: {{ .Values.envName }}
