values:
  - top:
      array:
        - thing1
        - thing2
      complexArray:
        - thing: a thing
          anotherThing: another thing
        - thing: second thing
          anotherThing: a second other thing
---
releases:
  - name: test
    chart: ../../../charts/raw
    values:
      - top:
{{ toYaml .Values.top | indent 10 }}
        templates:
          - |
            apiVersion: v1
            kind: ConfigMap
            metadata:
              name: TestConfig
            data:
{{ toYaml .Values.top | indent 14 }}
