# helmDefaults:
#   suppressOutputLineRegex:
#     - "helm.sh/chart"
#     - "app.kubernetes.io/version"

repositories:
- name: ingress-nginx 
  url: https://kubernetes.github.io/ingress-nginx

releases:
- name: ingress-nginx
  namespace: ingress-nginx
  chart: ingress-nginx/ingress-nginx
  version: {{ env "SUPPRESS_OUTPUT_LINE_REGEX_INGRESS_NGINX_VERSION" | default "4.8.3" }} 