releases:
- name: httpbin-basic
  namespace: {{ .Namespace }}
  chart: ../../charts/httpbin
  set:
  - name: ingress.enabled
    value: false
  trackMode: kubedog
  trackTimeout: 60
  trackLogs: false

- name: httpbin-with-whitelist
  namespace: {{ .Namespace }}
  chart: ../../charts/httpbin
  set:
  - name: ingress.enabled
    value: false
  trackMode: kubedog
  trackKinds:
  - Deployment
  skipKinds:
  - ConfigMap
  - Secret

- name: httpbin-with-resources
  namespace: {{ .Namespace }}
  chart: ../../charts/httpbin
  set:
  - name: ingress.enabled
    value: false
  trackMode: kubedog
  trackResources:
  - kind: Deployment
    name: httpbin-with-resources-httpbin
