releases:
- name: foo
  chart: ../../../charts/raw
  values:
  - templates:
    - |
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: {{`{{ .Release.Name }}`}}-1
        namespace: {{`{{ .Release.Namespace }}`}}
      data:
        foo: FOO
    dep:
      templates:
      - |
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: {{`{{ .Release.Name }}`}}-2
          namespace: {{`{{ .Release.Namespace }}`}}
        data:
          bar: BAR
  postRenderer: ./add-cm.bash
  postRendererArgs: 
    - cm2
- name: baz
  chart: ../../../charts/raw
  values:
  - templates:
    - |
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: {{`{{ .Release.Name }}`}}-3
        namespace: {{`{{ .Release.Namespace }}`}}
      data:
        baz: BAZ
