releases:
- name: '{{ include "echo" (dict "Echo" "include") }}'
  chart: ../../../../charts/raw
  values:
  - templates:
    - |
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: {{ include "echo" (dict "Echo" "include") }}
      data:
        name: {{ include "echo" (dict "Echo" "include") }} 