name: Lint

on:
  push:
    branches: [ main ]
    paths-ignore: [ '**.md', '**/docs/**' ]
  pull_request:
    branches: [ main ]
    paths-ignore: [ '**.md', '**/docs/**' ]

env:
  GO_VERSION: 1.21

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Golangci lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54.1
