name: Publish v1.x Binaries

on:
  push:
    branches:
      - "!*"
    tags:
      - "v1*"

env:
  # This is referenced from .goreleaser.yml
  HELMFILE_V1MODE: "true"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v1
      -
        name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21'
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
